body{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #e0d1d1;
}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%,-50%);
	background:#cfc8c8 ;
	text-align: center;
	border-radius: 24px;
}
.box h1{
	color: black;
	text-transform: uppercase;
	font-weight: 1000;
	text-shadow: 4px 4px #999393;
}
.box input[type = "text"],.box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 4px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
}
.box input[type = "text"]:hover ,.box input[type="password"]:hover{
	width: 280px;
	border-color: #2ecc71;
}
.box input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.5s;
	cursor: pointer;
}
.box input[type="submit"]:hover{
	background: #2ecc71;
}
.btn:hover{
	background: #2ecc71;
}